@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

.Btn {
  font-size: 12px;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.25s ease-in-out;
  text-transform: capitalize;
}

.BtnOutlined {
  color: #146c94;
  border: 1px solid #146c94;

  &:hover {
    background-color: #146c94;
    border: 1px solid transparent;
    color: #fff;
  }
}

.BtnContained {
  background-color: #146c94;
  color: #fff;
  border: 1px solid #146c94;

  &:hover {
    background: #146c94;
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.45) inset;
  }
}

.MuiIconButton-root {
  &:hover {
    background-color: transparent;
  }
}

.Mobile,
.Desktop {
  display: none;
}

/* Typography */
.typographyXs {
  display: -webkit-box;
  align-self: stretch;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: #212121;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

@media (max-width: 639.98px) {
  .Mobile {
    display: block !important;
  }
}

@media (min-width: 640px) {
  .Desktop {
    display: block !important;
  }
}
